@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
	box-sizing: border-box;
}
body {
	padding: 10px;
	background: #1f1f1f;
	color: #ffffff;
}
.tabs {
  	background: #1f1f1f;
}
.tabs-menu {
	display: flex;
	align-items: flex-start;
	background: #1f1f1f;
	flex-wrap: wrap;
}
.tabs-menu a :hover {
	filter: brightness(150%);
}
.label {
	padding: 10px 18px 7px 18px;
	background: #1f1f1f;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	border-radius: 7px 7px 0 0;
}
.panel {
	padding: 15px 15px 15px;
	background: #292929;
	border-radius: 0 7px 7px 7px;
}
.releases-tab {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.release {
	width: 11.1%;
	margin: 1% 0.7% 3.3% 0.7%;
}
.release img {
	width: 97%;
	border-radius: 3%;
	margin-bottom: 3%;
}
.release-title {
	color: white;
	font-family: 'Inter', sans-serif;
	font-size: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	display: -webkit-box;
	line-clamp: 2;
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.release-preorder {
	color: rgb(199, 199, 199);
	font-family: 'Inter', sans-serif;
	font-size: 70%;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	display: -webkit-box;
	line-clamp: 1;
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.release-preorder p {
	text-decoration: none;
}
.performer {
	color: rgb(199, 199, 199);
	font-family: 'Inter', sans-serif;
	font-size: 74%;
}
a {
	text-decoration: none;
}
.release img:hover {
	filter: brightness(75%);
}
.release-title:hover {
	text-decoration: underline;
}
.performer a {
	color: rgb(199, 199, 199);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -moz-box;
	display: -webkit-box;
	line-clamp: 1;
	box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}
.performer :hover {
	text-decoration: underline;
}
@media (max-width: 900px) or (max-device-width: 900px) {
	.release {
		width: 15.25%!important;
	}
}
@media (max-width: 820px) {
    .tabs-menu {
		align-items: center!important;
		justify-content: center;
	}
	.label {
		border-radius: 7px!important;
	}
	table {
		width: 100%!important;
	}
	.latest-release {
		width: 100%!important;
	}
}
@media (max-device-width: 820px) {
    .tabs-menu {
		align-items: center!important;
		justify-content: center;
	}
	.label {
		border-radius: 7px!important;
	}
	table {
		width: 100%!important;
	}
	.latest-release {
		margin-top: 25px!important;
		width: 100%!important;
	}
	.latest-title {
		margin-bottom: 15px!important;
	}
	.label {
		font-size: 20px!important;
	}
	table {
		font-size: 19px!important;
	}
	#albumcap {
		font-size: 13px!important;
	}
	td img {
		width: 70px!important;
		height: 70px!important;
	}
}
@media (max-width: 700px) or (max-device-width: 700px) {
	.release {
		width: 18.6%!important;
	}
	.release-title {
		font-size: 72%!important;
	}
}
@media (max-width: 480px) {
	.release {
		width: 23.6%!important;
	}
	.release-title {
		font-size: 65%!important;
	}
}
@media (max-device-width: 480px) {
	.release {
		width: 23.6%!important;
	}
	.release-title {
		font-size: 23px!important;
	}
	.release-preorder {
		font-size: 17px!important;
	}
	.performer {
		font-size: 17px!important;
	}
	.label {
		font-size: 27px!important;
	}
	table {
		font-size: 27px!important;
	}
	#albumcap {
		font-size: 21px!important;
	}
	td img {
		width: 95px!important;
		height: 95px!important;
	}
	.latest-title {
		font-size: 30px!important;
	}
	.release-newest {
		margin-bottom: 60px!important;
	}
	.release-newest img {
		width: 180px!important;
		height: 180px!important;
	}
	.release-newest-description figcaption.title {
		font-size: 28px!important;
	}
	.release-newest-description figcaption.date {
		font-size: 20px!important;
	}
	.release-newest-description figcaption.desc {
		font-size: 21px!important;
	}
}
@media (max-width: 335px) {
	.release {
		width: 48.6%!important;
	}
	.release-title {
		font-size: 80%!important;
	}
}
@media (max-device-width: 335px) {
	.release {
		width: 31.6%!important;
	}
	.release-title {
		font-size: 30px!important;
	}
	.release-preorder {
		font-size: 25px!important;
	}
	.performer {
		font-size: 25px!important;
	}
	.label {
		font-size: 37px!important;
	}
	table {
		font-size: 31px!important;
	}
	#albumcap {
		font-size: 25px!important;
	}
	td img {
		width: 110px!important;
		height: 110px!important;
	}
}
table {
	border: 0;
	margin: 0;
	width: 45%;
	font-size: 14px;
	font-family: 'Inter', sans-serif;
	border-collapse: collapse;
}
td {
	width: 3%;
}
td:first-child {
	width: 1%;
	border-radius: 5px 0 0 5px;
	text-align: right;
}
td:last-child {
	width: 96%;
	border-radius: 0 5px 5px 0;
}
td img {
	border-radius: 2px;
}
tr:hover {
	background: rgba(255, 255, 255, 0.08);
}
#popular tr:hover {
	cursor: pointer;
}
#part tr:hover {
	cursor: pointer;
}
#albumcap {
	color: #d7d7d7;
	font-size: 10px;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.latest-release {
	margin: 0 0 0 5px; 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: left;
	width: 50%;
}
.latest-title {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 21px;
	margin: 0 0 2px 5px;
}
.release-newest {
	margin: 5px 5px 20px 5px;
	height: 140px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	border-radius: 7px;
}
.release-newest img {
	border-radius: 7px;
	width: 140px;
	height: 140px;
	box-shadow:0 0 3px #000;
}
.release-newest img:hover {
	filter: brightness(80%);
	cursor: pointer;
}
.release-newest-description figcaption.title {
	margin: 12px 0 0 20px;
	color: white;
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 19px;
	-webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.release-newest-description figcaption.date {
	margin: 15px 0 0 20px;
	color: rgb(215, 215, 215);
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 11px;
}
.release-newest-description figcaption.desc {
	margin: 5px 0 0 20px;
	color: rgb(215, 215, 215);
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 12px;
}
.release-newest-description figcaption.title:hover {
	text-decoration: underline;
	cursor: pointer;
}