@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
font-family: 'Bebas Neue Bold';
src: url('font/BebasNeueBold.eot');
src: url('font/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
url('font/BebasNeueBold.woff') format('woff'),
url('font/BebasNeueBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@media (max-device-width: 700px) {
	.bg {bottom:0; height: 55%!important;}
	table {width: 100%!important;}
	td {width: 120px!important; font-size: 30px!important;}
	td:first-child {width: 15px!important;}
	td:last-child {width: 900px!important;}
	td img {width: 120px!important; height: 120px!important;}
	.memnu {justify-content: center!important;}
	h2 {order: -1; width: 100%!important; text-align: center!important; font-size: 40px!important; margin-bottom: 10px!important;}
	button {width: 70px!important; height: 70px!important; text-align: center!important; font-size: 40px!important;}
	select {width: 500px!important; height: 70px!important; text-align: center!important; font-size: 40px!important;}
	.sign {width: 250px!important; height: 400px!important;}
	.sign img {width: 250px!important;}
	.sign figcaption {font-size: 30px!important;}
	.figa {font-size: 20px!important;}
	#signart {height: 300px!important;}
}
::-webkit-scrollbar {
  width: 0;
}
td {
	color: white;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 20px;
}
#ody {
	background-color: #121212;
}
#bb {
	margin: 0;
}
table {
	border: 0;
	margin: 0;
	width: 790px;
}
td {
   width: 80px;
}
td:first-child {
   width: 10px;
}
td:last-child {
   width: 700px;
}
tr:hover {
	background: rgba(255, 255, 255, 0.08);
	cursor: pointer;
}
select {
	display: inline-block;
	background: #181818;
	color: #ffffff;
	text-align: center;
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 25px;
	border: 3px solid white;
	padding: 5px;
	margin: 0 0 0 12px;
	height: 45px;
	width: 250px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 10px;
}
.bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 98%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	-webkit-mask-image: -webkit-gradient(linear, left 75%, left bottom, from(rgba(0,0,0,2)), to(rgba(0,0,0,0)))
}
.mainn {
	color: white;
	width: 100%;
	height: 740px;
	margin: 0;
	text-align: center;
	background-position: center center;
}
.mainn p {
	font-family: 'Bebas Neue';
	font-weight: bold;
	font-size: 25px;
	margin: 0 0 0 0;
}
.artist_img {
	border-radius: 100px;
	object-fit: cover;
	width: 100px;
	height: 175px;
}
#artists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#signart {
	display: inline-block;
}
#top {
	margin-top: -50px;
}
#chart {
	margin-top: 10px;
}
.logo {
	width: 560px;
	filter: brightness(10000%);
}
select:hover {
	background: #282828;
	cursor:pointer
}
.butt {
	border-radius: 10px;
	display: inline-block;
	background: #181818;
	color: #ffffff;
	text-align: center;
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 25px;
	border: 3px solid white;
	padding: 5px;
	margin: 0;
	height: 45px;
}
.thumb {
	margin-top: 10px; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: center;
}
.butt:hover {
	background: #282828;
	cursor:pointer
}
.memnu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}
h1 {
	text-align: center;
	font-family: 'Arial';
	color: white;
	margin: 40px 0 20px 0;
}
h2 {
	display: inline-block;
	text-align: right;
	font-family: 'Arial';
	color: white;
	margin: 9px 0 0 0;
	flex-grow: 1;
}
h3 {
	color: white;
	font-family: 'Bebas Neue';
	text-align: center;
}
li {
	list-style-type: none;
}
.sign {
	display: inline-block;
	border-radius: 5px;
	padding: 16px;
	margin: 5px;
	background: #181818;
	height: 240px;
	width: 172px;
}
.sign:hover {
	background: #282828;
	cursor:pointer
}
.sign img {
	width: 170px;
	box-shadow:0 0 3px #000;
}
.sign figcaption {
	margin: 15px 0 0 0;
	color: white;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 15px;
	-webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
#subartist {
	margin-top: 0px;
	font-size: 13px;
	color: #ccc;
	font-weight: 500;
}
.figa {
	color: white;
	font-family: 'Arial';
	font-size: 11px;
	margin-top: 5px;
	-webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
A {
	text-decoration: none;
}
ul{
	column-count: 3;
	padding: 0;
	margin: 10px 10px 10px 10px;
}
.e404 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height:100px;
	margin: -200px 0 0 -100px;
}