@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
font-family: 'Bebas Neue Bold';
src: url('font/BebasNeueBold.eot');
src: url('font/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
url('font/BebasNeueBold.woff') format('woff'),
url('font/BebasNeueBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@media (max-width: 1300px) {
	.release {
		width: 13.1%!important;
	}
}
@media (max-width: 1150px) {
	.release {
		width: 13%!important;
	}
}
@media (max-width: 1060px) {
	.release {
		width: 15%!important;
		height: 220px!important;
	}
}
@media (max-width: 850px) {
	.release {
		width: 18%!important;
		height: 220px!important;
	}
}
@media (max-width: 700px) {
	.release {
		width: 30%!important;
		height: 280px!important;
	}
}
@media (max-device-width: 700px) {
	.bg {bottom:0; height: 55%!important;}
	table {width: 100%!important;}
	td {width: 120px!important; font-size: 30px!important;}
	td:first-child {width: 15px!important;}
	td:last-child {width: 900px!important;}
	td img {width: 120px!important; height: 120px!important;}
	.memnu {justify-content: center!important;}
	h2 {order: -1; width: 100%!important; text-align: center!important; font-size: 40px!important; margin-bottom: 10px!important;}
	button {width: 70px!important; height: 70px!important; text-align: center!important; font-size: 40px!important;}
	select {width: 500px!important; height: 70px!important; text-align: center!important; font-size: 40px!important;}
	.sign {width: 250px!important; height: 400px!important;}
	.sign img {width: 250px!important;}
	.sign figcaption {font-size: 30px!important;}
	.figa {font-size: 20px!important;}
	#signart {height: 300px!important;}
	#laast {font-size: 35px!important;}
	.signmain {height: 205px!important; width: 880px!important;}
	.signmain img {width: 200px!important;}
	.signmain figcaption.title {font-size: 29px!important;}
	.signmain figcaption.date {font-size: 21px!important;}
	.signmain figcaption.desc {font-size: 24px!important;}
	td {max-width: 750px!important;}
	#albumcap {font-size: 21px!important;}
	#subartist {font-size: 25px!important;}
	.release {width: 30%!important; height: 440px!important;}
	.release_title {font-size: 160%!important;}
}
@media (max-width: 400px) {
	.release {
		width: 43%!important;
		height: 240px!important;
	}
}
::-webkit-scrollbar {
  width: 0;
}
td {
	color: white;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	max-width: 480px;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}
#ody {
	background-color: #121212;
}
#bb {
	margin: 0;
}
table {
	border: 0;
	margin: 0;
	width: 600px;
}
td {
   width: 50px;
}
td:first-child {
   width: 10px;
}
td:last-child {
   width: 540px;
}
tr:hover {
	background: rgba(255, 255, 255, 0.08);
}
#chart tr:hover {
	cursor: pointer;
}
#part tr:hover {
	cursor: pointer;
}
#albumcap {
	color: #d7d7d7;
	font-size: 11px;
	font-weight: 400;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
}
#laast {
	color: #fff;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 18px;
	margin: 10px 0 2px 5px;
}
#glav {
	margin-top: 10px; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: left;
}
select {
	display: inline-block;
	background: #181818;
	color: #ffffff;
	text-align: left;
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 25px;
	border: 3px solid white;
	padding: 5px;
	margin: 0 0 0 12px;
	height: 45px;
	width: 450px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 10px;
}
.mainn {
	color: white;
	width: 100%;
	height: 740px;
	margin: 0;
	text-align: center;
	background-position: center center;
}
.mainn p {
	font-family: 'Bebas Neue';
	font-weight: bold;
	font-size: 25px;
	margin: 0 0 0 0;
}
.artist_img {
	border-radius: 100px;
	object-fit: cover;
	width: 100px;
	height: 175px;
}
#artists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#signart {
	display: inline-block;
}
#top {
	margin-top: -50px;
}
#chart {
	margin-top: 10px;
}
.logo {
	width: 560px;
	filter: brightness(10000%);
}
select:hover {
	background: #282828;
	cursor:pointer
}
.butt {
	border-radius: 10px;
	display: inline-block;
	background: #181818;
	color: #ffffff;
	text-align: center;
	font-family: 'PT Sans';
	font-weight: bold;
	font-size: 25px;
	border: 3px solid white;
	padding: 5px;
	margin: 0;
	height: 45px;
}
.thumb {
	margin-top: 10px; 
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: center;
}
.thumb2 {
	margin: 10px 0 0 15px; 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: left;
}
.butt:hover {
	background: #282828;
	cursor:pointer
}
.memnu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 20px 10px 0 0;
}
h1 {
	text-align: center;
	font-family: 'Arial';
	color: white;
	margin: 40px 0 20px 0;
}
h2 {
	display: inline-block;
	text-align: right;
	font-family: 'Arial';
	color: white;
	margin: 9px 0 0 0;
	flex-grow: 1;
}
h3 {
	color: white;
	font-family: 'Bebas Neue';
	text-align: center;
}
li {
	list-style-type: none;
}
.sign {
	display: inline-block;
	border-radius: 5px;
	padding: 16px;
	margin: 5px;
	background: #181818;
	height: 250px;
	width: 172px;
}
.sign:hover {
	background: #282828;
	cursor:pointer
}
.sign img {
	width: 170px;
	box-shadow:0 0 3px #000;
}
.sign figcaption {
	margin: 15px 0 0 0;
	color: white;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 15px;
	-webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.signmain {
	display: inline-block;
	border-radius: 5px;
	padding: 16px;
	margin: 5px 5px 5px 5px;
	background: #242424;
	height: 145px;
	width: 600px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
}
.signmain img {
	width: 145px;
	box-shadow:0 0 3px #000;
}
.signmain figcaption.title {
	margin: 16px 0 0 20px;
	color: white;
	font-family: 'Arial';
	font-weight: bold;
	font-size: 19px;
	-webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.signmain figcaption.date {
	margin: 15px 0 0 20px;
	color: rgb(215, 215, 215);
	font-family: 'Arial';
	font-weight: 600;
	font-size: 11px;
}
.signmain figcaption.desc {
	margin: 8px 0 0 20px;
	color: rgb(215, 215, 215);
	font-family: 'Arial';
	font-weight: 600;
	font-size: 12px;
}
.signmain:hover {
	background: #363636;
	cursor:pointer
}
#subartist {
	margin-top: 0px;
	font-size: 13px;
	color: #ccc;
	font-weight: 500;
}
.figa {
	color: white;
	font-family: 'Arial';
	font-size: 11px;
	margin-top: 5px;
	-webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
A {
	text-decoration: none;
}
ul{
	column-count: 3;
	padding: 0;
	margin: 10px 10px 10px 10px;
}
#actual {
	text-align: center;
}
.label_name {
	font-size: 1.4em;
}
.e404 {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 200px;
	height:100px;
	margin: -200px 0 0 -100px;
}

.releases {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.release {
	width: 13.3%;
	display: inline-block;
	margin: 5px;
	box-sizing: border-box;
    position: relative;
	border-radius: 5px;
	padding: 16px;
	background: #181818;
	height: 280px;
}
.release_cover img {
	width: 100%;
}
.release_title {
	color: white;
	font-family: 'Arial';
	font-weight: 600;
	font-size: 90%;
	margin-top: 4%;
}
.release:hover {
	background: #363636;
	cursor:pointer
}